.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background-color: #c2185b;
  mat-toolbar, mat-nav-list > a {
    &.selected {
      background-color: #e31c6c;
    }
    color: white;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
