<div class='container'>
  <div class='title'>
    <span>Sobre</span>
  </div>
  <div class='line'></div>
  <p>
    Esse projeto foi criado com o propósito didático de demonstrar como criar
    testes unitários e e2e (end-to-end) utilizando Jest/Jasmine e Protractor no
    Angular.
  </p>
  <p>
    Essa aplicação foi projetada para ser uma calculadora simples, com
    funcionalidade de soma, subtração, multiplicação e divisão, sempre com dois
    valores, produzindo um terceiro resultado e guardando tudo na aba histórico, de
    maneira local.
  </p>
  <p>
    Os estilos da aplicação, incluindo cores, alguns componentes e layout foram
    retirados da biblioteca @angular/material que pode ser vista{{' '}}
    <a href='https://material.angular.io/' target='_blank'>aqui</a>.
  </p>
  <p>
    A aplicação possui uma versão mobile, funcionando tanto em computadores
    quanto em dispositivos portáteis, permitindo sua navegação através
    do menu encontrado no canto superior esquerdo da tela.
  </p>
  <p>
    A aplicação não utiliza nenhum serviço externo, consiste apenas em Front-end
    utilizando o Local Storage do navegador para guardar o histórico e
    JavaScript (TypeScript) para realizar cálculos.
  </p>
</div>
