<div class='container'>
  <div class='title'>
    <span>Sobre</span>
  </div>
  <div class='line'></div>
  <p>
    Esse projeto foi criado com o proposito didatico de demonstrar como criar
    testes unitarios e e2e (end-to-end) utilizando Jest/Jasmine e Protractor no
    Angular.
  </p>
  <p>
    Essa aplicacao foi projetada para ser uma calculadora simples, com
    funcionalidade de soma, subtracao, multiplicacao e divisao, sempre com dois
    valores, produzindo um terceiro resultado e guardando tudo no historico, de
    maneira local.
  </p>
  <p>
    Os estilos da aplicacao, incluindo cores, componentes e layout foram
    retirados da biblioteca @angular/material que pode ser vista{{' '}}
    <a href='https://material.angular.io/' target='_blank'>aqui.</a>
  </p>
  <p>
    A aplicacao possui uma versao mobile, funcionando tanto em computadores
    desktop quanto em dispositivos portateis, permitindo sua navegacao atraves
    do menu encontrado no canto superior esquerdo da tela.
  </p>
  <p>
    A aplicacao nao utiliza nenhum servico externo, consiste apenas em Front-end
    utilizando o Local Storage do navegador para guardar o historico e
    JavaScript puro para realizar calculos.
  </p>
</div>
